Archive*

Mechanical*

Stockfish-master*

qpc-master*

*.o
*.exe
.tags1
*.swp
.piChess
model.qm
piChess.qm
piChess.smproj
Source/piChessHSM.c
piChess.sublime-project
piChess.sublime-workspace
hsm.vsdx
hsmBroadcast.c
hsmTimers.c
hsmTimers.h
manualControl.c
MessagePack.txt
mp.c
options
scratch.txt
test
cppHsm/hsm.h
cppHsm/hsmState.cpp
cppHsm/hsmStateMachine.cpp
cppHsm/hsmUnitTest
cppHsm/hsmUnitTest.cpp
cppHsm/hsmUserConfig.h
cppHsm/makefile
